---
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Header.astro';
import Fotos from './index/Fotos.astro';
---

<Layout title="Black Pata CC">
  <Header />
	<main class="m-custom">
    <Fotos />
	</main>
</Layout>

<style>
.m-custom {
  margin-top: 11vh;
}

</style>