---
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Header.astro';
import Hero from '../sections/Hero.astro';
import Intro from '../sections/Intro.astro';
import Recorreguts from '../sections/Recorreguts.astro';
import Info from '../sections/Info.astro';
---

<Layout title="Stravada">
	<main>
    <Header/>
		<Hero/>
    <Intro />
    <Recorreguts />
    <Info />
	</main>
</Layout>
