---
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Header.astro';
import Hero from '../sections/stravada/Hero.astro';
import Intro from '../sections/stravada/Intro.astro';
import Recorreguts from '../sections/stravada/Recorreguts.astro';
import Info from '../sections/stravada/Info.astro';
import WelcomePack from './stravada/WelcomePack.astro';
---

<Layout title="Black Pata CC | Stravada">
  <Header/>
	<main>
		<Hero/>
    <Intro />
    <Recorreguts />
    <WelcomePack />
    <Info />
	</main>
</Layout>
