
<section class=" mx-12 mt-12 flex flex-col md:flex-row justify-center items-center gap-4 md:gap-20">
  <div class="col-6">
    <div class="border-b-2 border-b-black flex flex-row pb-2">
      <img src="/img/icons/gift.svg" class="text-4xl w-10"/>
      <h3 class="text-4xl md:text-5xl ml-2 inline-block align-baseline">Welcome Pack</h3>
    </div>
  
    <div class="flex flex-col md:flex-row items-center justify-center">
      <div class="bg-white mt-4 md:m-8 p-4 md:px-8 rounded-2xl border-2 border-black grid grid-cols-2 gap-4">
  
        <div class="flex flex-col justify-center items-center">
          <img src="/img/icons/idCardClip.svg" alt="Dorçal" class="w-8">
          <p class="text-xl">Dorçal + xip</p>
        </div>
  
        <div class="flex flex-col justify-center items-center">
          <img src="/img/icons/shirt.svg" alt="Samarreta" class="w-8">
          <p class="text-xl">Samarreta BP</p>
        </div>
  
        <div class="flex flex-col justify-center items-center">
          <img src="/img/icons/bottle.svg" alt="Botellín" class="w-8">
          <p class="text-xl">Botellín BP</p>
        </div>
  
        <div class="flex flex-col justify-center items-center">
          <div class="flex flex-row gap-2">
            <img src="/img/icons/tiket.svg" alt="Tiket" class="w-8">
            <img src="/img/icons/cuberts.svg" alt="Dinar" class="w-8">
          </div>
          <p class="text-xl text-center">Tiquet pel dinar i beguda</p>
        </div>
  
        <div class="col-span-2 flex flex-col justify-center items-center">
          <img src="/img/icons/box.svg" alt="Altres" class="w-8">
          <p class="text-xl">Alguna cosa mes</p>
        </div>
  
      </div>
      <div class="w-80 mt-4 md:mt-0 flex flex-col gap-2 text-center md:text-left">
        <p class="text-xl font-sans">
          Aquests welcome pack es podran recollir el dia 
          abans de la marxa a les <b>19:00h</b> en un breafing especial que es farà al restaurant <b>Crisami</b>. 
        </p>
        <p class="text-lg font-sans">
          També es podran recollir el mateix dia de 
          la marxa desde les <b>7:30h</b> a les <b>8:30h</b> del matí.
        </p>
      </div>
    </div>
  </div>


  <div class="col-6">
    <div class="border-b-2 border-b-black flex flex-row pb-2">
      <!-- <img src="/img/icons/gift.svg" class="text-4xl w-10"/> -->
      <h3 class="text-4xl md:text-5xl ml-2 inline-block align-baseline">Inclos</h3>
    </div>
  
    <div class="flex flex-col md:flex-row items-center justify-center">
      <div class="bg-white mt-4 md:m-8 p-4 md:px-8 rounded-2xl border-2 border-black grid grid-cols-2 gap-4">
  
        <div class="flex flex-col justify-center items-center">
          <img src="/img/icons/asseguranca.svg" alt="Assegurança" class="w-8">
          <p class="text-xl">Assegurança</p>
        </div>
  
        <div class="flex flex-col justify-center items-center">
          <img src="/img/icons/gift.svg" alt="Samarreta" class="w-8">
          <p class="text-xl">Record</p>
        </div>
  
        <div class="flex flex-col justify-center items-center">
          <img src="/img/icons/images.svg" alt="Fotos" class="w-8">
          <p class="text-xl text-center">Fotos individuals</p>
        </div>

  
        <div class="flex flex-col justify-center items-center">
          <img src="/img/icons/apple.svg" alt="Avituallaments" class="w-8">
          <p class="text-xl">Avituallaments</p>
        </div>

        <div class="flex flex-col justify-center items-center">
          <img src="/img/icons/shower.svg" alt="Dutxes" class="w-8">
          <p class="text-xl">Dutxes</p>
        </div>

        <div class="flex flex-col justify-center items-center">
          <img src="/img/icons/aixeta.svg" alt="Mangera" class="w-8">
          <p class="text-xl text-center">Neteja de bicicletes</p>
        </div>
  
      </div>
      <div class="w-80 mt-4 md:mt-0 flex flex-col gap-2 text-center md:text-left">
        <p class="text-xl font-sans">
          Aquests welcome pack es podran recollir el dia 
          abans de la marxa a les <b>19:00h</b> en un breafing especial que es farà al restaurant <b>Crisami</b>. 
        </p>
        <p class="text-lg font-sans">
          També es podran recollir el mateix dia de 
          la marxa desde les <b>7:30h</b> a les <b>8:30h</b> del matí.
        </p>
      </div>
    </div>
  </div>

</section>