<section class="mb-12 mx-12 mt-12">
  <div class="border-b-2 border-b-black">
    <h3 class="text-4xl md:text-5xl mb-4">Informació</h3>
  </div>
  <div class="flex flex-col gap-4 mt-2 text-center md:text-left">
    <p class="text-xl md:text-2xl font-sans">
      Cada corredor amb la seva inscripció tindrà un welcome pack, on hi haurà el dorsal amb xip, samarreta dissenyada especialment per la cursa, 
      botellín de la proba, bosseta del corredor, el tiquet pel dinar, beguda i alguna cosa mes. Aquests welcome pack es podran recollir el dia 
      abans de la marxa a les 19:00h en un breafing especial que es farà al restaurant Crisami. També es podran recollir el mateix dia de 
      la marxa desde les 7:30h a les 8:30 del matí.
    </p>
    <p class="text-xl md:text-2xl font-sans">
      Aquest any la Stravada, tot i no ser competitiva, tindrà podis en els recorreguts Duroc i Black Pata, també es premiarà de manera 
      especial tots els segments que es trobaran al llarg del recorregut.
    </p>
    <p class="text-xl md:text-2xl font-sans">
      El preu serà de 25€ la inscripció fins el dia 11 de febrer, del 11 de febrer fins al 18 de febrer el preu serà de 28€ i fins el 
      mateix dia el preu serà de 30€ fins a esgotar les inscripcions.
    </p>
    <p class="text-xl md:text-2xl font-sans">
      En el preu va inclosa: una assegurança de responsabilitat civil i accidents, un record de la prova, fotografies individuals en diferents 
      trams de la pedalada, avituallaments, dinar en acabar, neteja de bicicletes, dutxes i diversió assegurada.
    </p>
    <p class="text-xl md:text-2xl font-sans">
      Es tancaran inscripcions a un màxim de 600 participants i serà obligatori l’ús del casc en tots els circuits.
    </p>
    <p class="text-xl md:text-2xl font-sans">
      Els inscrits abans de l’11 de febrer de 2024 disposaran de camiseta, a partir d’aquesta data no s’assegura disponibilitat.
    </p>
    <p class="text-3xl md:text-4xl text-center">
      Salut, pedals i KOMS!
    </p>
  </div>
</section>