<section class="mb-12 mx-12 mt-12">
  <div class="border-b-2 border-b-black">
    <h3 class="text-4xl md:text-5xl mb-4">Recorreguts</h3>
  </div>
  <div class="flex flex-col">
    <div class="grid grid-cols-1 md:grid-cols-2 p-8 gap-8 align-center justify-center">
      <div class="flex justify-center align-center"> 
        <img alt="Recorregut 1" src="/img/recorregut1.jpg"/>
      </div>
      <div class="flex justify-center align-center">
        <img alt="Recorregut 2" src="/img/recorregut2.jpg"/>
      </div>
    </div>
    <div class="">
      <p class="text-xl md:text-2xl text-center font-sans">
        Aquest any tindrem 2 circuits amb el mateix horari de sortida: un de llarg de 52 km i un de mitjà de 32 km. 
        Dins dels recorreguts hi trobarem més d’un 75% de senders i corriols ciclables, netejats especialment pel 
        dia de la prova, així com diferents avituallaments distribuïts en tots els recorreguts, fotografies personalitzades 
        dels participants i dinar amb beguda en acabar.
      </p>
    </div>
  </div>
</section>