<section class="mb-12 mx-12 mt-12">
  <div class="border-b-2 border-b-black">
    <h3 class="text-4xl md:text-5xl mb-4">Informació</h3>
  </div>
  <div class="flex flex-col md:flex-row md:gap-16">
    <div class="flex flex-col gap-4 mt-2 text-center md:text-left md:mx-8">
      <p class="text-xl md:text-2xl font-sans">
        Aquest any la Stravada, tot i no ser competitiva, tindrà podis en els recorreguts <b>Duroc</b> i <b>Black Pata</b>, també es premiarà de manera 
        especial tots els segments que es trobaran al llarg del recorregut.
      </p>
      <p class="text-xl md:text-2xl font-sans">
        El preu serà de 25€ la inscripció fins el dia 11 de febrer, del 11 de febrer fins al 18 de febrer el preu serà de 28€ i fins el 
        mateix dia el preu serà de 30€ fins a esgotar les inscripcions.
      </p>
      <p class="text-xl md:text-2xl font-sans">
        Es tancaran inscripcions a un <b>màxim de 600 participants</b> i serà obligatori l’ús del casc en tots els circuits.
      </p>
      <p class="text-xl md:text-2xl font-sans">
        Els inscrits abans de l’11 de febrer de 2024 disposaran de camiseta, a partir d’aquesta data no s’assegura disponibilitat.
      </p>  
    </div>
    <div class="w-full">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10441.203628933088!2d1.5134012116249216!3d41.99382169647766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a5c9f95f889d73%3A0x2897b45073782255!2sPla%C3%A7a%20del%20Camp%2C%2025280%20Solsona%2C%20Lleida!5e0!3m2!1sen!2ses!4v1713532264142!5m2!1sen!2ses" 
        style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-full mt-4 h-custom md:h-full"></iframe>
    </div>
  </div>
  
  <p class="text-4xl md:text-5xl text-center mt-12">
    Salut, pedals i KOMS!
  </p>
</section>

<style>
.h-custom {
  height: 40vh;
}

</style>